*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 11px;
  color: #ffffff;
  line-height: 1.5;
  background-color: #333;
  font-family: sans-serif;
}

.container {
  width: 375px;
  height: 812px;
  margin: auto;
}

/*nav bar related below*/
nav {
  background-image: url('../images/Status-Bar.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  margin: 0 auto;
  background-color: #232342;
  width: 100%;
  height: 12%;
}

.arrow-down {
  font-size: .5em;
  padding: 60px 15px 15px 15px;
}

.arrow-down h1 {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  margin-left: 10px;
}

/*----------bus schedule list related below---------*/
.bus-schedule {
  background-color: #140F38;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-image: url('../images/Bottom-Bar.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.route {
  border-bottom: 1px solid #232342;
}

.route:hover {
  background-color: #232342;
}

.route h1 {
  font-size: 2em;
  font-weight: bold;
  line-height: 1;
}
.route h2 {
  font-size: 1.5em;
}

.bus {
  display: inline-block;
  padding: 10px;
  width: 60%;
}

.arrival {
  display: inline-block;
  padding: 10px;
  text-align: right;
  float: right;
}

/* --------bus colors---------*/
.route b60 {
  border-radius: 8px;
  background: #BF3FBF;
  padding: 2px 5px 2px 5px;
}

.route b124 {
  border-radius: 8px;
  background: #8212F1;
  padding: 2px 5px 2px 5px;
}

.route b151 {
  border-radius: 8px;
  background: #d79abc;
  padding: 2px 5px 2px 5px;
}

.route bJ14 {
  border-radius: 8px;
  background: #F11282;
  padding: 2px 5px 2px 5px;
}

.route b6x {
  border-radius: 8px;
  background: #1282F1;
  padding: 2px 5px 2px 5px;
}

.route b4 {
  border-radius: 8px;
  background: #f9b282;
  padding: 2px 5px 2px 5px;
}

.route b20 {
  border-radius: 8px;
  background: #9fdfcd;
  padding: 2px 5px 2px 5px;
}

.route b157 {
  border-radius: 8px;
  background: #1282F1;
  padding: 2px 5px 2px 5px;
}

/*---------out of service buses----------*/
.bus i {
  color: #828282;
  font-weight: lighter;
  font-style: italic;
}

.notice {
  display: inline-block;
  float: right;
  position: relative;
  padding: 15px 10px 10px 10px;
  font-size: 2em;
  color: #F18212;
}
