*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  color: #ffffff;
  line-height: 1.5;
  background-color: #333;
  font-family: sans-serif;
}

.bus-schedule {
      margin: 0 auto;
      width: 100%;
}
.route {
    display: inline-block;
    border-bottom: 1px solid #232342;
    width: 100%;
    background-color: #19194C;
}
.route:hover{
    background-color: #232342;
}
nav {
  margin: 0 auto;
  background-color: #19194C;
  width: 100%;
}
.arrow-left {
  position: top;
  font-size: 9px;
  padding: 15px;
}
.arrow-left h1{
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
}
.container {
  width: 420px;
  margin: auto;
}

.content {
  display: inline-block;
  width: 70%;
  padding: 15px 0 15px 15px;
}
.content h1{
  font-size: 18px;
  font-weight: bold;
}
.content h3{
  font-size: 14px;
}

.ETA {
  display: inline-block;
}
.ETA h1{
  font-size: 20px;
}

.arrow{
  float: right;
  position: relative;
  top: 15px;
  font-size: 9px;
  padding: 15px 10px 15px 15px;
}

/* code added for mobile responsive */
@media screen and (max-width: 575px) {
  div {
    margin: 1%;
    width: 48%;
  }
}
